.exit{
  grid-column: 3/4;
  grid-row: 1/2;
  width: 20px;
  height: 20px;
  margin: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
  cursor: pointer;
}
.new-message-box{
  position: absolute;
  width: 500px;
}
.new-message-form{
  display: grid;
  grid-gap: 1.5em;
  align-items: center;
  justify-items: center;
  grid-column: 2/3;
  grid-row: 2/3;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
}
.new-message-form label{
  grid-column: 1/3;
  grid-row: 1/2;
}
.new-message-form button{
  grid-column: 2/3;
  grid-row: 3/4;
}
/* .new-message-form{
  height: 100%;
  margin: 35px 0;
  width: 100%;
  align-items: center;
 justify-content: space-around;
} */
/* .counter-and-button{
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
} */
.new-message-textarea{
  font-size: 2rem;
  grid-row: 2/3;
  grid-column: 1/3;
  resize: none;
  justify-self: stretch;
  align-self: stretch;
}
.character-counter{
  text-align: center;
  grid-row: 3/4;
  grid-column: 1/2;
  flex: 2;
}
