.user-profile-page{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media only screen and (max-device-width: 480px) {
  .user-profile-page{
    width: 100%;
    flex-wrap: wrap;
  }
}