.sign-up-btn{
  color: white;
  font-weight: 700;
  background-color: #ae27e8;
  border: 1px solid #dbdbdb;
  height: 40px;
  margin: 15px;
  padding: 0 20px;
  text-transform: uppercase;
}
.sign-in-btn{
  color: white;
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid #dbdbdb;
  margin: 15px;
  padding: 5px 20px;
  text-transform: uppercase;
}

.button-loading{
  animation: pulsate 2s infinite;
}
.button-loading::after{
  content: "ING...";
  height: 40px;
  background: #ae27e8;
  animation: pulsate 2s infinite;
}
.delete-btn{
  background: #f7f7f700;
  border: 1px solid #444444;
  /* box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); */
  transition: all 0.1s ease-in-out;
  grid-row: 4/5;
  grid-column:4/5;
  width: 80%;
  text-align: center;
  position: relative;
  z-index: 2;
  opacity: 0;
  overflow: hidden;
  outline-style: none;
  cursor: pointer;
  text-align: right;
  justify-self:end;
  padding-right: 3px;
  color: #444444;
}
.delete-btn::after{
  content:"";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transform: translateX(-100%);
  width:100%;
  height:100%;
  background: #4444447d;
  z-index: -1;
  transition: transform 0.1s ease-in-out;
}
.delete-btn:hover::after{
  transform: translateX(0);
}
.delete-btn::before{
  content:"";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transform: translateX(-100%);
  width:100%;
  height:100%;
  background: #444444;
  z-index: -1;
  transition: transform 0.1s ease-in-out 0.2s;
}
.delete-btn:hover::before{
  transform: translateX(0);
}
.delete-btn:hover{
  color: white;
}
.delete-btn-danger{
  background: #ff3232db!important;
  color: white !important;
  width: 100%;
  justify-self: end;
  grid-row: 4/5;
  grid-column:4/5;
  transition: all 0.1s ease;
  border: 1px solid #ff3232;
}
.delete-btn-danger::after{
  background: #ff3232db!important;
}
.delete-btn-danger::before{
    background: #ff3232db!important;
}
.ind-message:hover .delete-btn{
  opacity: 0.9;
}
.delete-btn-loading{
background: white!important;
border: none;
border-radius: 50%!important;
transform: scale(20);
opacity: 1;
transition: all 0.4s ease;
}
.delete-btn-loading::before{
  background: white!important;
}
.delete-btn-loading::after{
  background: white!important;
}
.submit-button{ /* Make Separate Button element*/
  width: 80%;
  color: white;
  font-weight: 700;
  background-color: #ae27e8;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  height: 40px;
  text-transform: uppercase;
  cursor: pointer;
}


@keyframes pulsate {
  0%{
    transform: scale(1);
  }
  30%{
    transform: scale(1.01);
  }
  70%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.01);
  }
}
