.img-wrapper img{
    border-radius: 50%;
}

.item-box .img-wrapper{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:  1fr ;
  align-items: center;
  justify-content: center;


}
.item-box .img-wrapper img{
  width: 50px;
  height: 50px;
  justify-self: center;
}
.user-profile-small .img-wrapper {
  width: 70%;
  height:0;
  padding-top: 70%;
  position: relative;
}
.user-profile-small .img-wrapper .profile-picture{
  width:100%;
  height: 100%;
  top:0;
  left: 0;
  position: absolute;
  vertical-align:top;
}
.user-profile-small .img-wrapper .loading-icon{
  width:100%;
  height: 100%;
  top:0;
  left: 0;
  position: absolute;
  vertical-align:top;

}

@media only screen and (max-device-width: 480px) {
  .user-profile-small .img-wrapper {
    width: 25%;
    padding-top: 25%;
  }
  .item-box .img-wrapper {
    margin-right: 15px;
}


}
