.ind-message{
  justify-content: stretch;
  display:grid !important;
  grid-template-columns: 5px 1fr 3fr 1fr 1fr 5px;
  grid-template-rows: 10px 20px 1fr 20px 10px;
  /* overflow: hidden; */
  border-radius: 3px;
  margin-bottom: 5px;
  border: none!important;
  transition: transform 0.15s ease-out;
  -webkit-font-smoothing: subpixel-antialiased;
  grid-row-gap: 4px;
}
.likes-area{
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 5px;
  background: #FFFFFF30;
  border-radius: 5px;
  padding: 0 0 5px 0;
  overflow: hidden;
}
.likes-title{
  align-self: flex-end;
  color: white;
  font-weight: 400;
  padding: 2px;
  margin: 0 5px ;
  width: 100%;
  text-align: right;
}
.likes-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.likes-list{
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  text-align: center;
}
.likes-area .back-button{
  display: flex;
  background-image: linear-gradient(to top, #ae27e8f5, #cf27e8f7);
}
.likes-area .back-icon{
  transform: rotate(45deg);
  margin: 3px 7px ;
}
.likes-list-box{
  /* width:32%; */
  flex: 0 1 calc(33% - 10px);
  border-bottom: 1px solid gray;
  background: #FFFFFFAB;
  padding: 4px 0;
  margin: 7px 5px;
  display: grid;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  grid-template-columns:5px 1fr 3fr 3fr 5px;
  grid-template-rows: 10% 25px 10%;
  align-items: center;
  font-size: 0.8rem;
}
.likes-list-box .img-wrapper{
  grid-row: 2/3;
  grid-column: 2/3;
}
.likes-list-box a{
  color: black;
  grid-row: 2/3;
  grid-column: 3/4;
}
.likes-list-box .follow-container{
  grid-row: 2/3;
  grid-column: 4/5;
}
.color-message-border{
  grid-column: 1/2;
  grid-row: 1/6;
  margin: 0;
}
.ind-message:hover{
  transform: scale(1) translateX(2px) ;
}
div{
  -webkit-font-smoothing: subpixel-antialiased;
}
.message-loading-text{
  grid-column: 5/6;
  grid-row: 3/6;
  color: rgba(0, 0, 0, 0.2);
  font-size: 2rem;
}
.ind-message-on-delete{
  transform: scale(0.001) !important;
}
.ind-message .img-wrapper{
  grid-row: 1/6;
  grid-column: 2/3;
}
.message-username{
  grid-row: 2/3;
  grid-column: 3/5;
  display:flex;
  flex-wrap:nowrap;
}
.message-text{
  grid-row: 3/4;
  grid-column: 3/5;
  margin: 0;
  align-self: start;
  white-space: pre-line;
}
.message-likes{
  grid-row: 4/5;
  grid-column: 5/6;
  display: flex;
  align-items:center;
  justify-content: space-around;
}

.time{
  font-size: 0.7rem;
  grid-column:5/6;
  grid-row: 2/3;
  align-self: center;
  justify-self: center;
}
.like-button{
  width: 8px;
  height: 8px;
  background: gray;
  transform: rotate(-45deg);
  transition: all 0.3s ease;
  display: inline-block;
  cursor: pointer;
}
.like-button:before,
.like-button:after{
  content: "";
  border-radius: 50%;
  height:8px;
  width:8px;
  position:absolute;
  background: inherit;
}
.like-button:before{
  top: -4px;
  left:0;
}
.like-button:after{
  right:-4px;
}
.like-button:hover{
  transform:scale(1.1) rotate(-45deg);
}
.like-button:active{
  transform: rotate(-60deg) scale(1.2);
}
.like-button-true{
  background: red;
}
