.edit-profile-container{
  margin: 50px auto;
  background: #efefef;
  display: grid;
  grid-template-columns: repeat(9, 1fr) ;
  grid-template-rows: 20px 1fr 1fr 1fr 5fr 20px;
  width: 50%;
  text-align: center;
}
.edit-profile-title{
  grid-column: 6/9;
  grid-row: 2/4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.edit-profile-title h3{
  margin: 0;
  padding-bottom: 10px;
}
.edit-profile-title h3:first-of-type{
  border-bottom: 1px solid gray;
}

.edit-profile-container .img-wrapper{
  grid-column: 2/5;
  grid-row: 2/5;
}
.edit-profile-form{
  grid-row: 5/6;
  grid-column: 2/9;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1em;
  flex-direction: column;
  align-items: center;
}
.edit-profile-form > .submit-button{
  grid-column: 2/3;
  justify-self: end;
  width: 50%;
}
.small img{
  max-width: 150px;
}
@media only screen and (max-device-width: 480px) {
  .edit-profile-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 20px;
  }
  .edit-profile-form{
    display:flex;
    width: 100%;
  }
}
