.ind-message{
  background: #f7f7f7;
  border: 1px solid #dbdbdb;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 10px 10px;
  display: flex;
  justify-content: stretch;
}
.ind-message:hover{
  background-color:#e5e5e5 ;
}
.message-content{
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.message-content p{
  margin: 0;
}
.img-content{
  margin-right:15px;
  display: flex;
  align-items: center;
}
.img-content img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  flex:1;
}
.message-meta{
  display: flex;
  padding: 10px;
}
.meta-content{
  display: flex;
  justify-content: space-between;
  flex: 2;
}
.delete-btn{
  background: #f7f7f7;
  border: 1px solid black;
  opacity: 0;
  height: 40%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  transition: 0.1s ease-in-out;
}
.ind-message:hover .delete-btn{
  opacity: 1;
}
.time{
  font-size: 0.8rem;
}