.ind-message{
  justify-content: stretch;
}
.message-content{
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  white-space: pre-line;
}
.message-content p{
  margin: 0;
}
.message-meta{
  display: flex;
  padding: 10px;
}
.meta-content{
  display: flex;
  justify-content: space-between;
  flex: 2;
}
.delete-btn{
  background: #f7f7f7;
  border: 1px solid black;
  opacity: 0;
  height: 40%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  transition: 0.1s ease-in-out;
}
.ind-message:hover .delete-btn{
  opacity: 1;
}
.time{
  font-size: 0.7rem;
  margin-right: 4px;
}
.like-button{
  width: 8px;
  height: 8px;
  background: gray;
  transform: rotate(-45deg);
  transition: all 0.4s ease-in-out;
  display: inline-block;
}
.like-button:before,
.like-button:after{
  content: "";
  border-radius: 50%;
  height:8px;
  width:8px;
  position:absolute;
  background: inherit;

}
.like-button:before{
  top: -4px;
  left:0;
}
.like-button:after{
  right:-4px;
}
.like-button:hover{
  transform:scale(1.1) rotate(-45deg);
}
.like-button:active{
  transform: rotate(180deg) scale(1.21);
}
.like-button-true{
  background: red;
}
