.ind-message{
  justify-content: stretch;
}
.message-content{
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  white-space: pre-line;
}
.message-content p{
  margin: 0;
}
.message-meta{
  display: flex;
  padding: 10px;
}
.meta-content{
  display: flex;
  justify-content: space-between;
  flex: 2;
}
.delete-btn{
  background: #f7f7f7;
  border: 1px solid black;
  opacity: 0;
  height: 40%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  transition: 0.1s ease-in-out;
}
.ind-message:hover .delete-btn{
  opacity: 1;
}
.time{
  font-size: 0.8rem;
}
