.message-container{
  grid-column: 4/5;
  grid-row: 3/5;
  border-radius: 3px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 5px;
  transition: all 1s ease-in-out;
  transform: translateX(0%);
  max-height: calc(100vh - 65px);
}
.page-change{
  width: 95%;
  margin: 10px auto;
  border: 1px solid black;
  color: #0f75ee;
  justify-content: center;
  border-radius: 3px;
  transition: all 0.3s ease;
}
.page-change-active{
  cursor: pointer;

}
.page-change-inactive{
  cursor: default;

}

.page-change h3{
margin:10px  auto;
padding: 3px 3px;
}
.page-change-active:hover {
  transform: translateY(-1px);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}
.page-change-active:active{
  transform: translateY(1px);
}
@media only screen and (max-device-width: 480px) {
  .message-container{
    width: 100%;
    overflow: auto;
    padding: 0;
    height: auto;
  }
}
