.new-message-box{
  width: 100%;
  margin: auto;
  margin-bottom: 10px;
  transform: translateY(-100%);
  transition: all 1s ease;
}
.show-message-box{
  /* animation: slideItIn 1s ease-in-out forwards; */
  transform: translateY(0%);

}



.new-message-form{
  display:contents;
  grid-gap: 1.5em;
  align-items: center;
  grid-column: 5/7;
  grid-row: 3/4;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
}
.new-inner-contents{
  display: grid;
  grid-template-rows: 10px 20px 1fr 20px 10px;
  grid-template-columns: 10px repeat(3, 1fr) 10px;
  grid-column: 2/12;
  grid-row:3/12;
  grid-gap: 10px;
  align-items: center;
  justify-items: center;
}
.new-message-form label{
  grid-column: 1/5;
  grid-row: 2/3;
  align-self: center;
  justify-self: center;
}
.new-message-form button{
  grid-column: 4/5;
  grid-row: 5/6;
  height: auto;
  margin: 5px;
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.new-message-textarea{
  font-size: 1.5rem;
  grid-row: 3/4;
  grid-column: 2/5;
  height: 6rem;
  resize: none;
  justify-self: stretch;
  align-self: stretch;
}
.character-counter{
  text-align: center;
  grid-row: 4/5;
  grid-column: 2/3;
  align-self: center;
  margin: 0;
}
