
.user-profile-small{
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  grid-gap: 0.5em;
  box-sizing: border-box;
  overflow: hidden;
  justify-items: center;
  background: #fdfdfd;
  border-radius: 3px;
  width:100%;
  box-shadow: -1px 2px 10px rgba(0,0,0,0.7);
  position: sticky;
  max-width: 100%;
  padding: 10px 2px 0;
  margin-bottom: 10px;
  overflow: hidden;
  flex: 1 0 ;
}
.user-profile-small .img-wrapper{
  /* width: 65%; */
  min-height: 100%;
  flex-shrink: 0;

}
.meta-number{
  font-weight: 700;
  font-size: 1.0rem;

}
.user-profile-container{
  grid-column: 2 / 3;
  grid-row: 3/4;
  max-height: calc(100vh - 65px);
  display: flex;
  flex-direction: column;
}
.user-follow{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-description{
  text-align: center;
  font-size: 0.8rem;
  background: #FFFFFFB2;
  line-height: 1.5rem;
  border-top:1px solid #ae27e8;
  border-bottom: 1px solid #ae27e8;
  width: 100%;
}

.meta-mid{
  /* border-left: 1px solid #ae27e8;
  border-right: 1px solid #ae27e8; */
}
.user-meta{
  display:flex;
  font-size: 0.8rem;
  width: 100%;
  text-align: center;
  border-top: 1px solid #ae27e8;
  margin-bottom: 0px;
  padding: 4px 0;

}
.follow-container{
  width:100%;
  text-align: center;
}
.user-meta-item{
  padding: 0 8px;
  flex: 1;
}
.user-meta-item a{
  color:  #ae27e8;
}
