.landing-page{
  display: flex;
  flex-direction: column;
  width:100vw;
  height:100vh;
  justify-content: center;
  background-image: radial-gradient(circle closest-corner, #00c6fbf0, #005beaf0);
  align-items:center;
  position: relative;
  transition: all 1s ease;
  z-index: 10;
  opacity: 1;
  transition: opacity 200ms ease;
}
.home-box{
  background-image: radial-gradient(circle closest-corner, #eef1f5, #e6e9f0 );
  display: grid;
  grid-template-rows: 50px  50px repeat(8, 1fr) 50px ;
  grid-template-columns: 50px repeat(5, 1fr) 50px;
  box-shadow: -1px 2px 10px rgba(0,0,0,0.7);
  border-radius: 3px;
  overflow: hidden;
  z-index: 10;
  position: relative;
}

.animate-delay{
  animation-delay: 200ms!important;
}
.welcome-title{
  grid-column: 2/7;
  grid-row: 2/3;
  text-align: center;
  margin: 0;
}
.welcome-title h2{
  margin: 0;
}
.signup-btn-div{
  grid-column: 2/7;
  grid-row: 5/7;
  align-self: stretch;
  justify-self: stretch;
}

.signin-btn-div{
  grid-column: 4/5;
  grid-row: 8/9;
  align-self: stretch;
  justify-self: stretch;
}
.enter-animation{
    animation: slideIn 0.3s ease forwards;

}
.enter-animation-reverse{
    animation: slideInReverse 0.3s ease forwards;
}
.exit-animation{
  animation: slideOut 0.3s ease forwards;
}
.exit-animation-reverse{
  animation: slideOutReverse 0.3s ease forwards;
}

.fadeout{
  animation: fadeInOpacity 200ms ease;
}
@keyframes slideOut {
  0% {
    transform: translateX(0px);
    transform-origin: 100% 0%;
    /* box-shadow: -1px 2px 10px rgba(0,0,0,0.7), -10px -10px 1px #eef1f5a0; */
  }
  100% {
    transform: translateX(400px);
    /* box-shadow: -1px 2px 10px rgba(0,0,0,0.7), -20px -20px 0px black; */
    transform-origin:100% 0%;
    opacity: 0;
  }
}
@keyframes slideOutReverse {
  0% {
    transform: translateX(0px);
    /* box-shadow: -1px 2px 10px rgba(0,0,0,0.7), -10px -10px 1px #eef1f5a0; */
    transform-origin: 0% 0%;
  }
  100% {
    transform: translateX(-400px);
    /* box-shadow: -1px 2px 10px rgba(0,0,0,0.7), 0px 0px 1px #eef1f5a0; */
    transform-origin: 0% 0%;
    opacity: 0;
  }
}
@keyframes slideInReverse {
  0% {
    transform: translateX(400px);
    transform-origin: 100% 0%;
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    transform-origin: 100% 0%;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-400px);
    transform-origin: 0% 0%;
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    transform-origin: 0% 0%;
  }
}
