.loader{
  height: 150px;
  width: 150px;
  top: 0;
  right:0;
  left:0;
  bottom: 0;
  z-index: -1;
  position: relative;
  opacity: 0.7;
}
.loader svg{
  background: var(--white);
  animation: rotateSVG 0.9s infinite alternate ease-in-out;
}
.loader-after{
  width: 50%;
  height: 50%;
  position: absolute;
  top: 0;
  right:0;
  left:0;
  bottom: 25%;
  margin: auto;
  padding: 0;
  border-radius: 50%;
  overflow: hidden;
  animation: objectBounce 0.9s infinite  linear;
  z-index: 1;
}

.loader-before{
  content: "";
  width: 30%;
  height: 10%;
  position: absolute;
  top: 50%;
  right:0;
  left:0;
  bottom: 0;
  border-radius: 50%;
  margin: auto;
  background: var(--white);
  filter: blur(2px);
  opacity: 0.4;
  animation: shadow 0.9s infinite  linear;
  box-shadow: 0px 0px 8px 0px var(--white);
}
@keyframes rotateSVG {
  from{
    transform: rotate(-5deg);
  }
  to{
    transform: rotate(5deg);
  }
}
@keyframes shadow {
    0%{
      width: 30%;
      height: 9%;
      opacity: 0.4;
    }
    25%{
      width: 45%;
      opacity: 0.5;
    }
    40%{
      width: 50%;
      opacity: 0.7;
    }
    55%{
      width: 25%;
      opacity: 0.5;
    }
    70%{
      opacity: 0.4;
      width: 20%;

    }90%{
      width:25%

    }
    100%{
      width: 30%;
    }
}

@keyframes objectBounce{
  0%{
    transform: translateY(0%) scaleY(1);
  }
  25%{
      transform: translateY(40%) scaleY(1) scaleX(1)rotateX(0deg);
      transform-origin: bottom;
  }
  40%{
    transform: translateY(40%) scaleY(0.6)scaleX(1.1)rotateX(-45deg);
  }
  55%{
    transform:translateY(-15%) scaleY(1.1) scaleX(0.9) rotateX(0deg);
  }
  70%{
    transform: translateY(-20%) scaleY(1) scaleX(1) rotateX(0deg);
  }
  90%{
    transform: translateY(-10%) scaleY(1);

  }
  100%{
    transform: translateY(0%) scaleY(1);
  }
}

.loader-mini::before, .loader-mini::after{
  content: "";
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  border: 1px solid var(--white);
  border-top: 1px solid transparent;
  margin: auto;
  border-radius: 50%;
  animation: miniRotate 0.9s infinite  linear;
}
.loader-mini::after{
  width: 50%;
  height: 50%;
  animation: miniRotate 0.9s reverse infinite  linear;

}
@keyframes miniRotate {
0%{
  transform: rotateZ(360deg);
}
}
