.sign-up-btn, .sign-in-btn{
  color: white;
  font-weight: 700;
  background-color: #ae27e801;
  border: 1px solid #dbdbdb;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-shadow: 1px 1px 1px #000;
  box-shadow: 1px 1px 5px #00000033;
  padding: 15px 40px;
  margin: 4px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  z-index: 10;
  transition: all 1s;
  white-space: nowrap;
}

.sign-up-btn:hover, .sign-in-btn:hover, .sign-up-btn-active{
  background-color: #ae27e8;
  border-color: #ae27e8;
}
.sign-up-btn-active:hover{
  /* background-color: #ae27e801; */
  border-color:  #dbdbdb;
  text-shadow: 2px 2px 3px #00000088;
  /* color: #000; */
}
.sign-up-btn
/* .sign-in-btn{
  color: white;
  background: rgba(0, 0, 0, 0);
  border: 1px solid #dbdbdb;
  text-transform: uppercase;
  padding: 15px 40px;
} */
.button-text{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 0 0  60%;
  width: 50%;
}
.button-loading{
  display: flex;
  /* justify-content: center; */
  flex: 0 0  40%;
  position: relative;
}
.delete-btn{
  background: #f7f7f700;
  border: 1px solid #444444ab;
  transition: all 0.1s ease-in-out;
  grid-row: 4/5;
  grid-column:3/5;
  width: 20%;
  position: relative;
  z-index: 2;
  opacity: 0;
  overflow: hidden;
  outline-style: none;
  cursor: pointer;
  text-align: center;
  justify-self:end;
  align-self: center;
  color: #444444;
  font-size: 0.8rem;
  white-space: nowrap;
}
.delete-btn::after{
  background: #EE40407d;
  transition: transform 0.3s ease-in-out;
}
.delete-btn::after,
.delete-btn::before{
  content:"";
  position: absolute;
  border-radius: 50%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 50px;
  height:50px;
  margin: auto;
  transform: scale(0) translateY(200%);
  transform-origin:center;
  background: #4444447d;
  z-index: -1;
}
.delete-btn:hover::after,
.delete-btn:hover::before{
  transform: scale(5) translateY(0) ;
}
.delete-btn::before{
  transition: transform 0.3s ease-in-out 0.1s;
}

.delete-btn:hover{
  color: white;
}
.delete-btn-danger{
  color: #ff3232db !important;
  width: 30%;
  justify-self: end;
  align-self: center;
  font-size: 0.8rem;
  transition: all 0.1s ease;
  border: 1px solid #ff3232;
}
.delete-btn-danger::after{
  background: #ff3232db!important;
}
.delete-btn-danger::before{
  background: #ff3232db!important;
}
.delete-btn-danger:hover{
  color:white !important;
}
.ind-message:hover .delete-btn{
  opacity: 1;
}
.delete-btn-loading{
  background: white!important;
  border: 1px solid #ff3232 !important;
  color: #ff3232db !important;
  opacity: 1;
  transition: all 0.4s ease;
}
.delete-btn-loading::before{
  background: white!important;
}
.delete-btn-loading::after{
  background: white!important;
}
.follow-button{
  background: #ae27e8;
  border: 1px solid gray;
  color: white;
  border-radius: 3px;
  text-transform: uppercase;
  padding: 3px 4px;
  width: 100%;
  margin-top: 3px;
  font-weight: 400 !important;
  cursor: pointer;
  letter-spacing: 1px;
  font-size: 0.7rem;
}
.unfollow-button{
  background: white !important;
  color: black !important;
}
.submit-button{
  color: white;
  font-weight: 700;
  background-color: #ae27e8;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  height: 100%;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  justify-content: stretch;
  align-items: center;
  align-self: flex-end;
  grid-column: 3/4;
  grid-row: 5/6;
}
