.img-wrapper{
  display: grid;
  grid-template-columns: 10px 1fr 10px;
  grid-template-rows:10px  1fr 10px ;
  align-items: center;
  justify-content: center;
}
.ind-message .img-wrapper{
  grid-row: 2/3;
}
.img-wrapper .img-link{
  grid-row: 2/3;
  grid-column: 2/3;
  margin: 0;
}

.profile-picture{
  display: block;
  border-radius: 50%;
  width: 70%;
  height: auto;
  margin: auto;
}
img{
  text-indent: -9999px;
}
.profile-picture

@media only screen and (max-device-width: 480px) {
  .user-profile-small .img-wrapper {
    width: 25%;
    padding-top: 25%;
  }
  .item-box .img-wrapper {
    margin-right: 15px;
}

}
